<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/IMG_7764-106.jpg"
	thumbURL="thumbs/IMG_7764-106.jpg"
	linkURL="images/IMG_7764-106.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 3\IMG_7764-106.JPG"

>
    <title><![CDATA[IMG_7764-106]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7768-109.jpg"
	thumbURL="thumbs/IMG_7768-109.jpg"
	linkURL="images/IMG_7768-109.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 3\IMG_7768-109.JPG">
    <title><![CDATA[IMG_7768-109]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7773-112.jpg"
	thumbURL="thumbs/IMG_7773-112.jpg"
	linkURL="images/IMG_7773-112.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 3\IMG_7773-112.JPG">
    <title><![CDATA[IMG_7773-112]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7780-119.jpg"
	thumbURL="thumbs/IMG_7780-119.jpg"
	linkURL="images/IMG_7780-119.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 3\IMG_7780-119.JPG">
    <title><![CDATA[IMG_7780-119]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7791-130.jpg"
	thumbURL="thumbs/IMG_7791-130.jpg"
	linkURL="images/IMG_7791-130.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 3\IMG_7791-130.JPG">
    <title><![CDATA[IMG_7791-130]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7835-010.jpg"
	thumbURL="thumbs/IMG_7835-010.jpg"
	linkURL="images/IMG_7835-010.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 3\IMG_7835-010.JPG">
    <title><![CDATA[IMG_7835-010]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7840-014.jpg"
	thumbURL="thumbs/IMG_7840-014.jpg"
	linkURL="images/IMG_7840-014.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 3\IMG_7840-014.JPG">
    <title><![CDATA[IMG_7840-014]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7854-024.jpg"
	thumbURL="thumbs/IMG_7854-024.jpg"
	linkURL="images/IMG_7854-024.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 3\IMG_7854-024.JPG">
    <title><![CDATA[IMG_7854-024]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7868-045.jpg"
	thumbURL="thumbs/IMG_7868-045.jpg"
	linkURL="images/IMG_7868-045.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 3\IMG_7868-045.JPG">
    <title><![CDATA[IMG_7868-045]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7890-059.jpg"
	thumbURL="thumbs/IMG_7890-059.jpg"
	linkURL="images/IMG_7890-059.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 3\IMG_7890-059.JPG">
    <title><![CDATA[IMG_7890-059]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7906-070.jpg"
	thumbURL="thumbs/IMG_7906-070.jpg"
	linkURL="images/IMG_7906-070.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 3\IMG_7906-070.JPG">
    <title><![CDATA[IMG_7906-070]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7912-063.jpg"
	thumbURL="thumbs/IMG_7912-063.jpg"
	linkURL="images/IMG_7912-063.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 3\IMG_7912-063.JPG">
    <title><![CDATA[IMG_7912-063]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7951-091.jpg"
	thumbURL="thumbs/IMG_7951-091.jpg"
	linkURL="images/IMG_7951-091.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 3\IMG_7951-091.JPG">
    <title><![CDATA[IMG_7951-091]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8087-182.jpg"
	thumbURL="thumbs/IMG_8087-182.jpg"
	linkURL="images/IMG_8087-182.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 3\IMG_8087-182.JPG">
    <title><![CDATA[IMG_8087-182]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4293.jpg"
	thumbURL="thumbs/IMG_4293.jpg"
	linkURL="images/IMG_4293.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4293.JPG">
    <title><![CDATA[IMG_4293]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4415.jpg"
	thumbURL="thumbs/IMG_4415.jpg"
	linkURL="images/IMG_4415.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4415.JPG">
    <title><![CDATA[IMG_4415]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4435.jpg"
	thumbURL="thumbs/IMG_4435.jpg"
	linkURL="images/IMG_4435.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4435.JPG">
    <title><![CDATA[IMG_4435]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4436.jpg"
	thumbURL="thumbs/IMG_4436.jpg"
	linkURL="images/IMG_4436.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4436.JPG">
    <title><![CDATA[IMG_4436]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4442.jpg"
	thumbURL="thumbs/IMG_4442.jpg"
	linkURL="images/IMG_4442.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4442.JPG">
    <title><![CDATA[IMG_4442]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4460.jpg"
	thumbURL="thumbs/IMG_4460.jpg"
	linkURL="images/IMG_4460.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4460.JPG">
    <title><![CDATA[IMG_4460]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4480.jpg"
	thumbURL="thumbs/IMG_4480.jpg"
	linkURL="images/IMG_4480.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4480.JPG">
    <title><![CDATA[IMG_4480]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4461.jpg"
	thumbURL="thumbs/IMG_4461.jpg"
	linkURL="images/IMG_4461.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4461.JPG">
    <title><![CDATA[IMG_4461]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4466.jpg"
	thumbURL="thumbs/IMG_4466.jpg"
	linkURL="images/IMG_4466.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4466.JPG">
    <title><![CDATA[IMG_4466]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4467.jpg"
	thumbURL="thumbs/IMG_4467.jpg"
	linkURL="images/IMG_4467.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4467.JPG">
    <title><![CDATA[IMG_4467]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4485.jpg"
	thumbURL="thumbs/IMG_4485.jpg"
	linkURL="images/IMG_4485.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4485.JPG">
    <title><![CDATA[IMG_4485]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4483.jpg"
	thumbURL="thumbs/IMG_4483.jpg"
	linkURL="images/IMG_4483.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4483.JPG">
    <title><![CDATA[IMG_4483]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4505.jpg"
	thumbURL="thumbs/IMG_4505.jpg"
	linkURL="images/IMG_4505.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4505.JPG">
    <title><![CDATA[IMG_4505]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4609.jpg"
	thumbURL="thumbs/IMG_4609.jpg"
	linkURL="images/IMG_4609.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4609.JPG">
    <title><![CDATA[IMG_4609]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4650.jpg"
	thumbURL="thumbs/IMG_4650.jpg"
	linkURL="images/IMG_4650.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY2\IMG_4650.JPG">
    <title><![CDATA[IMG_4650]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4655.jpg"
	thumbURL="thumbs/IMG_4655.jpg"
	linkURL="images/IMG_4655.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY2\IMG_4655.JPG">
    <title><![CDATA[IMG_4655]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4658.jpg"
	thumbURL="thumbs/IMG_4658.jpg"
	linkURL="images/IMG_4658.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY2\IMG_4658.JPG">
    <title><![CDATA[IMG_4658]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4661.jpg"
	thumbURL="thumbs/IMG_4661.jpg"
	linkURL="images/IMG_4661.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY2\IMG_4661.JPG">
    <title><![CDATA[IMG_4661]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4662.jpg"
	thumbURL="thumbs/IMG_4662.jpg"
	linkURL="images/IMG_4662.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY2\IMG_4662.JPG">
    <title><![CDATA[IMG_4662]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4665.jpg"
	thumbURL="thumbs/IMG_4665.jpg"
	linkURL="images/IMG_4665.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY2\IMG_4665.JPG">
    <title><![CDATA[IMG_4665]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4496.jpg"
	thumbURL="thumbs/IMG_4496.jpg"
	linkURL="images/IMG_4496.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4496.JPG">
    <title><![CDATA[IMG_4496]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4667.jpg"
	thumbURL="thumbs/IMG_4667.jpg"
	linkURL="images/IMG_4667.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY2\IMG_4667.JPG">
    <title><![CDATA[IMG_4667]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4668.jpg"
	thumbURL="thumbs/IMG_4668.jpg"
	linkURL="images/IMG_4668.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY2\IMG_4668.JPG">
    <title><![CDATA[IMG_4668]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4671.jpg"
	thumbURL="thumbs/IMG_4671.jpg"
	linkURL="images/IMG_4671.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY2\IMG_4671.JPG">
    <title><![CDATA[IMG_4671]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7079-011.jpg"
	thumbURL="thumbs/IMG_7079-011.jpg"
	linkURL="images/IMG_7079-011.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY2\IMG_7079-011.JPG">
    <title><![CDATA[IMG_7079-011]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7085-017.jpg"
	thumbURL="thumbs/IMG_7085-017.jpg"
	linkURL="images/IMG_7085-017.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY2\IMG_7085-017.JPG">
    <title><![CDATA[IMG_7085-017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7089-020.jpg"
	thumbURL="thumbs/IMG_7089-020.jpg"
	linkURL="images/IMG_7089-020.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY2\IMG_7089-020.JPG">
    <title><![CDATA[IMG_7089-020]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4447.jpg"
	thumbURL="thumbs/IMG_4447.jpg"
	linkURL="images/IMG_4447.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Dropbox\TA\Photos SAC2015\DAY 1\IMG_4447.JPG">
    <title><![CDATA[IMG_4447]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>