body{
height:1024px;
font-family:"trebuchet MS",georgia,impact,"sans-serif" !important;
}

header{
border: solid 1px rgb(232,228,226);
margin: 0px 200px;
height:150px;
border-bottom: none;
background-image:url("images/11.png");
background-repeat: no-repeat;
  
   -webkit-animation-name: design;
    -webkit-animation-duration: 60s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 30s;
    -webkit-animation-iteration-count: infinite;
   -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;

    animation-name: design;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running; 
}

@-webkit-keyframes design {
    0%{background-image:url("images/7.png");}
    100%{background-image:url("images/2.png");}
}/*

@keyframes design {
    0%{background-image:url("images/4.png");}
    50%{background-image:url("images/5.png");}
} */

nav{
position:absolute;
top: 100px;
height:50px;
border: none !important;
border-radius: 0px !important;
-webkit-appearance: none;
background-color:rgb(232,228,226) !important;
}

.navbar-brand{
color:rgb(102,164,229) !important;
}

h1{
font-weight: bold !important;
}

section{
margin: 0px 200px;
text-align:center;
border: solid 1px rgb(232,228,226);
height: 800px;
border-bottom: none;
}


input{
width:500px !important;
}

.form-group{
padding: 0px 200px 0px 150px !important;

}

button:hover {
background-color:rgb(102,164,229) !important;
}

footer{
margin: 0px 200px;
text-align:center;
border: solid 1px rgb(232,228,226);
height: 74px;

}
