<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/P1010077.jpg"
	thumbURL="thumbs/P1010077.jpg"
	linkURL="images/P1010077.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\1\P1010077.JPG"

>
    <title><![CDATA[P1010077]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010084.jpg"
	thumbURL="thumbs/P1010084.jpg"
	linkURL="images/P1010084.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\1\P1010084.JPG">
    <title><![CDATA[P1010084]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010086.jpg"
	thumbURL="thumbs/P1010086.jpg"
	linkURL="images/P1010086.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\1\P1010086.JPG">
    <title><![CDATA[P1010086]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010087.jpg"
	thumbURL="thumbs/P1010087.jpg"
	linkURL="images/P1010087.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\1\P1010087.JPG">
    <title><![CDATA[P1010087]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010088.jpg"
	thumbURL="thumbs/P1010088.jpg"
	linkURL="images/P1010088.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\1\P1010088.JPG">
    <title><![CDATA[P1010088]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010093.jpg"
	thumbURL="thumbs/P1010093.jpg"
	linkURL="images/P1010093.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\1\P1010093.JPG">
    <title><![CDATA[P1010093]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010094.jpg"
	thumbURL="thumbs/P1010094.jpg"
	linkURL="images/P1010094.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\1\P1010094.JPG">
    <title><![CDATA[P1010094]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010095.jpg"
	thumbURL="thumbs/P1010095.jpg"
	linkURL="images/P1010095.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\1\P1010095.JPG">
    <title><![CDATA[P1010095]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010096.jpg"
	thumbURL="thumbs/P1010096.jpg"
	linkURL="images/P1010096.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\1\P1010096.JPG">
    <title><![CDATA[P1010096]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010097.jpg"
	thumbURL="thumbs/P1010097.jpg"
	linkURL="images/P1010097.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\1\P1010097.JPG">
    <title><![CDATA[P1010097]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010100.jpg"
	thumbURL="thumbs/P1010100.jpg"
	linkURL="images/P1010100.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\1\P1010100.JPG">
    <title><![CDATA[P1010100]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010101.jpg"
	thumbURL="thumbs/P1010101.jpg"
	linkURL="images/P1010101.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\1\P1010101.JPG">
    <title><![CDATA[P1010101]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010102.jpg"
	thumbURL="thumbs/P1010102.jpg"
	linkURL="images/P1010102.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\1\P1010102.JPG">
    <title><![CDATA[P1010102]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010103.jpg"
	thumbURL="thumbs/P1010103.jpg"
	linkURL="images/P1010103.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\1\P1010103.JPG">
    <title><![CDATA[P1010103]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010104.jpg"
	thumbURL="thumbs/P1010104.jpg"
	linkURL="images/P1010104.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\1\P1010104.JPG">
    <title><![CDATA[P1010104]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010003.jpg"
	thumbURL="thumbs/P1010003.jpg"
	linkURL="images/P1010003.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\2\P1010003.JPG">
    <title><![CDATA[P1010003]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010058.jpg"
	thumbURL="thumbs/P1010058.jpg"
	linkURL="images/P1010058.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\3\P1010058.JPG">
    <title><![CDATA[P1010058]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010063.jpg"
	thumbURL="thumbs/P1010063.jpg"
	linkURL="images/P1010063.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\3\P1010063.JPG">
    <title><![CDATA[P1010063]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010066.jpg"
	thumbURL="thumbs/P1010066.jpg"
	linkURL="images/P1010066.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\3\P1010066.JPG">
    <title><![CDATA[P1010066]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010069.jpg"
	thumbURL="thumbs/P1010069.jpg"
	linkURL="images/P1010069.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\3\P1010069.JPG">
    <title><![CDATA[P1010069]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010074.jpg"
	thumbURL="thumbs/P1010074.jpg"
	linkURL="images/P1010074.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\3\P1010074.JPG">
    <title><![CDATA[P1010074]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010002.jpg"
	thumbURL="thumbs/P1010002.jpg"
	linkURL="images/P1010002.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\2\P1010002.JPG">
    <title><![CDATA[P1010002]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010017.jpg"
	thumbURL="thumbs/P1010017.jpg"
	linkURL="images/P1010017.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\2\P1010017.JPG">
    <title><![CDATA[P1010017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1010020.jpg"
	thumbURL="thumbs/P1010020.jpg"
	linkURL="images/P1010020.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Herve Balanke\Desktop\Porteurs_de_Joie_Dim_05_Juin_2016\2\P1010020.JPG">
    <title><![CDATA[P1010020]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>